header {
  position: relative;
  background-color: var(--background-tertiary-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 38px 48px;
}

.img-Mobile {
  display: inline-block;
  width: 68px;
  height: 64px;
}

.img-desktop {
  display: none;
}

.navigation-menu {
  margin-top: 16px;
}

input[type="checkbox"]:checked ~ nav {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--background-tertiary-color);
}

nav {
  display: none;
}

ul {
  list-style-type: none;
}

.list-links li {
  margin: 16px 0;
}

.list-links li a {
  color: var(--text-secundary-color);
  text-decoration: none;
  font-weight: var(--menu-text-width);
  font-size: 24px;
}

@media screen and (min-width: 768px) {
  .navigation-menu {
    margin: 17px 0;
    width: 467px;
  }
  .navigation-menu label {
    display: none;
  }
  .navigation-menu nav {
    display: block;
  }
  .navigation-menu ul {
    padding: 0;
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  .navigation-menu li {
    margin: 0;
  }
}

@media screen and (min-width: 1024px) {
  
  header{
    padding: 38px 120px;
  }

  .navigation-menu a:hover {
      color: var( --button-primery-color);
    }

  .logo{
    width: 260;
    height: 64;
  }

  .img-desktop {
    display: block;
  }

  .img-Mobile {
  display: none;
  }
}

@media screen and (min-width: 1920px) {
    header {
        padding: 38px 160px;
    }
}
